h1{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr td{
    height: 100px;
    width: 100px;
}
.color1{
    background-color: black;
}

.color2{
    background-color: red;
}
