<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Checkerboard</h1>
<div class="container">
    <table>
    {% for i in range(rows): %}
        <tr>
            {% for x in range(columns): %}
            <td class = 'color{{ (i+x)%2+1 }}''></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
</body>
</html>
